{% extends "dashboard/base.html" %} {% load static %} {% block body %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div
            class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent"
          >
            <h4 class="mb-sm-0">Products</h4>

            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item">
                  <a href="javascript: void(0);">Ecommerce</a>
                </li>
                <li class="breadcrumb-item active">Products</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-xl-3 col-lg-4">
          <div class="card">
            <div class="card-header">
              <div class="d-flex mb-3">
                <div class="flex-grow-1">
                  <h5 class="fs-16">Filters</h5>
                </div>
                <div class="flex-shrink-0">
                  <a href="#" class="text-decoration-underline" id="clearall"
                    >Clear All</a
                  >
                </div>
              </div>

              {% comment %} <div class="filter-choices-input">
                <input
                  class="form-control"
                  data-choices
                  data-choices-removeItem
                  type="text"
                  id="filter-choices-input"
                  value="T-Shirts"
                />
              </div> {% endcomment %}
            </div>

            <div class="accordion accordion-flush filter-accordion">
              

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingBrands">
                  <button
                    class="accordion-button bg-transparent shadow-none"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseBrands"
                    aria-expanded="true"
                    aria-controls="flush-collapseBrands"
                  >
                    <span class="text-muted text-uppercase fs-12 fw-medium"
                      >Universities</span
                    >
                    <span
                      class="badge bg-success rounded-pill align-middle ms-1 filter-badge"
                    ></span>
                  </button>
                </h2>

                <div id="flush-collapseBrands" class="accordion-collapse collapse show" aria-labelledby="flush-headingBrands">
                
                  <div class="accordion-body text-body pt-0">
                    <div class="search-box search-box-sm">
                      <input
                        type="text"
                        class="form-control bg-light border-0"
                        id="searchBrandsList"
                        placeholder="Search Universities..."
                      />
                      <i class="ri-search-line search-icon"></i>
                    </div>
                    <div id="noDataFound" style="display: none;">
                      <img src="{% static 'no_data.png' %}" alt="No data found">
                      <div class="no-data-text">No university found</div>
                    </div>
                    <div style="overflow-y:auto;max-height:300px;" class="d-flex flex-column gap-2 mt-3 filter-check" id="universities">
                      {% for university in universities %}
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value="{{university}}"
                          id="{{university}}"
                          
                        />
                        <label class="form-check-label" for="{{university}}"
                          >{{university}}</label
                        >
                      </div>
                      {% endfor %}
                      

                      <div>
                        {% comment %} <button
                          type="button"
                          class="btn btn-link text-decoration-none text-uppercase fw-medium p-0"
                        >
                          1,235 More
                        </button> {% endcomment %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end accordion-item -->

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingDiscount">
                  <button
                    class="accordion-button bg-transparent shadow-none collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseDiscount"
                    aria-expanded="true"
                    aria-controls="flush-collapseDiscount"
                  >
                    <span class="text-muted text-uppercase fs-12 fw-medium"
                      >Cities</span
                    >
                    <span
                      class="badge bg-success rounded-pill align-middle ms-1 filter-badge"
                    ></span>
                  </button>
                </h2>
                <div
                  id="flush-collapseDiscount"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingDiscount"
                >
                <div class="accordion-body text-body pt-0">
                  <div class="search-box search-box-sm">
                    <input
                      type="text"
                      class="form-control bg-light border-0"
                      id="searchCitiesList"
                      placeholder="Search Cities..."
                    />
                    <i class="ri-search-line search-icon"></i>
                  </div>
                  <div id="noDataFound" style="display: none;">
                    <img src="{% static 'no_data.png' %}" alt="No data found">
                    <div class="no-data-text">No city found</div>
                  </div>
                  
                  <div style="overflow-y:auto;max-height:300px;" class="d-flex flex-column gap-2 mt-3 filter-check" id="cities">
                    {% for city in cities %}
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value="{{city}}"
                        id="{{city}}"
                        
                      />
                      <label class="form-check-label" for="{{city}}"
                        >{{city}}</label
                      >
                    </div>
                    {% endfor %}
                    

                    
                  </div>
                </div>
                </div>
              </div>
              <!-- end accordion-item -->

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingRating">
                  <button
                    class="accordion-button bg-transparent shadow-none collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseRating"
                    aria-expanded="false"
                    aria-controls="flush-collapseRating"
                  >
                    <span class="text-muted text-uppercase fs-12 fw-medium"
                      >Titles</span
                    >
                    <span
                      class="badge bg-success rounded-pill align-middle ms-1 filter-badge"
                    ></span>
                  </button>
                </h2>

                <div
                  id="flush-collapseRating"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingRating"
                >
                <div class="accordion-body text-body pt-0">
                  <div class="search-box search-box-sm">
                    <input
                      type="text"
                      class="form-control bg-light border-0"
                      id="searchTitlesList"
                      placeholder="Search Titles..."
                    />
                    <i class="ri-search-line search-icon"></i>
                  </div>
                  <div id="noDataFound" style="display: none;">
                    <img src="{% static 'no_data.png' %}" alt="No data found">
                    <div class="no-data-text">No city found</div>
                  </div>
                  
                  <div style="overflow-y:auto;max-height:300px;" class="d-flex flex-column gap-2 mt-3 filter-check" id="titles">
                    {% for title in titles %}
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value="{{title}}"
                        id="{{title}}"
                        
                      />
                      <label class="form-check-label" for="{{title}}"
                        >{{title}}</label
                      >
                    </div>
                    {% endfor %}
                    

                    
                  </div>
                </div>
                </div>
              </div>
              <!-- end accordion-item -->
            </div>
          </div>
          <!-- end card -->
        </div>
        <!-- end col -->

        <div class="col-xl-9 col-lg-8">
          <div>
            <div class="card">
              <div class="card-header border-0">
                <div class="row g-4">
                  <div class="col-sm-auto">
                    <div>
                      
                      <!-- Vertical Variation -->
                      <div class="btn-group material-shadow" role="group" aria-label="Button group with nested dropdown">
                       
                        <div class="btn-group" role="group">
                            
                            <button id="btnGroupDrop1" type="button" class="btn btn-success dropdown-toggle material-shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="ri-add-line align-bottom me-1"></i>
                                Add Professor
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <li><a class="dropdown-item" href="{% url "upload_json" %}">Add Single Professor</a></li>
                                <li><a class="dropdown-item" href="{% url "upload_json" %}">Add Json File</a></li>
                            </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="d-flex">
                      <div style="width:50%" class="search-box ms-2">
                        <input
                          type="text"
                          class="form-control"
                          id="searchProfessorList"
                          placeholder="Search Products..."
                        />
                        <i class="ri-search-line search-icon"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">
                    <ul
                      class="nav nav-tabs-custom card-header-tabs border-bottom-0"
                      role="tablist"
                    >
                      <li class="nav-item">
                        <a
                          class="nav-link fw-semibold active"
                          data-bs-toggle="tab"
                          href="#productnav-all"
                          role="tab"
                        >
                          All
                          <span 
                          id="totalProfessorsCount" 
                            class="badge bg-danger-subtle text-danger align-middle rounded-pill ms-1"
                            ></span
                          >
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link fw-semibold"
                          data-bs-toggle="tab"
                          href="#productnav-published"
                          role="tab"
                        >
                          Published
                          <span
                          id="totalPublicCount"
                            class="badge bg-danger-subtle text-danger align-middle rounded-pill ms-1"
                            ></span
                          >
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link fw-semibold"
                          data-bs-toggle="tab"
                          href="#productnav-draft"
                          role="tab"
                        >
                          Draft
                          <span
                          id="totalNonPublicCount"
                            class="badge bg-danger-subtle text-danger align-middle rounded-pill ms-1"
                            ></span
                          >
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-auto">
                    <div id="selection-element">
                      <div class="my-n1 d-flex align-items-center text-muted">
                        Select
                        <div
                          id="select-content"
                          class="text-body fw-semibold px-1"
                        ></div>
                        Result
                        <button
                          type="button"
                          class="btn btn-link link-danger p-0 ms-3 material-shadow-none"
                          data-bs-toggle="modal"
                          data-bs-target="#removeItemModal"
                        >
                          Remove
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div id="loader" class="py-4 text-center">
                <div style="width: 72px; height: 72px" class="spinner-border text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <div id="filtered-professors-container" class="blur"></div>
              
              <div style="padding-top:20px;" class="wrapper">
                <nav>
                    <ul class="pager">
                        <!-- Pagination links will be dynamically inserted here by JavaScript -->
                    </ul>
                </nav>
            </div>
              <!-- end card body -->
            </div>
            <!-- end card -->
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <script>
            document.write(new Date().getFullYear());
          </script>
          © Velzon.
        </div>
        <div class="col-sm-6">
          <div class="text-sm-end d-none d-sm-block">
            Design & Develop by Themesbrand
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- end main content-->

{% endblock body %}
